@using BigonApp.Infrastructure.Entities

@model Tag




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .form-container {
            margin-top: 50px;
        }

        .form-card {
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
            padding: 40px;
        }

        .form-card-header {
            background-color: #007bff;
            border: none;
            border-radius: 20px 20px 0 0;
            padding: 30px;
            color: #fff;
            font-weight: bold;
            text-align: center;
        }

        .form-control {
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .btn-submit {
            border-radius: 10px;
            background-color: #ffc107;
            color: #333;
            font-weight: bold;
            transition: background-color 0.3s;
        }

            .btn-submit:hover {
                background-color: #ffca2c;
                color: #333;
            }
    </style>
</head>
<body>
    <div class="container form-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card form-card">
                    <div class="card-header form-card-header">
                        <h3>Form</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="create">
                            <div class="mb-3">
                                <input asp-for="Title" class="form-control" placeholder="Title">
                            </div>
                            <div class="mb-3">
                                <input asp-for="CreatedAt" type="text" class="form-control" placeholder="CreatedAt">
                            </div>
                            <div class="mb-3">
                                <input asp-for="CreatedBy" type="text" class="form-control" placeholder="CreatedBy">
                            </div>
                          
                            <button type="submit" class="btn btn-submit btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>